CERT=/etc/ssl/certs/login-selfsigned.crt
CERT_KEY=/etc/ssl/private/login-selfsigned.key

DB_WP_NAME=inception
DB_ROOT_PASSWORD=password
DB_USER=dbuser42
DB_USER_PASSWORD=dbuser42

WP_ADMIN=login
WP_ADMIN_PASSWORD=login42
WP_ADMIN_EMAIL=login@email.com
WP_USER=wp42user
WP_USER_EMAIL=wpuser42@email.com
WP_USER_PASSWORD=wpuser42

WP_DOMAIN=login.42.fr
WP_TITLE="42 - Inception Project"