
[mariadb]

# skip-networking: disabled TCP/IP networking
# skip-networking=0

# Allow server to accept connections on all interfaces.
bind-address=0.0.0.0
# If bind-address is bound to 127.0.0.1 (localhost), one can't connect to the
# MariaDB server from other hosts or from the same host over TCP/IP on a
# different interface than the loopback (127.0.0.1)

port=3306
